lasio==0.23         # las_replayer
pandas==0.24.2      # las_replayer
enum34==1.1.6       # las_replayer
requests==2.21.0    # flowrate_monitor
scikit-learn>=0.20  # pretest_monitor, las_replayer

eliot==1.10.0
aiocometd==0.4.5
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
