# live-agent
git+https://github.com/intelie/liveclient-python.git@master#egg=live_client # Until we release v1.0
requests==2.21.0
eliot>=1.12.0
eliot-tree>=19.0.1
setproctitle==1.1.10
dill==0.3.1.1

# modules.chatbot
# Important!! There's a conflict related to lib PyYAML between ChatterBot(1.0.5)
# and chatterbot-corpus(1.2.0). By now we're just ignoring the error.
# ref: https://github.com/gunthercox/chatterbot-corpus/issues/127
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
Jinja2==2.10.1
pytz==2019.2

# modules.las
lasio==0.23
pandas==0.24.2
scikit-learn>=0.20

# modules.mdt
requests # Check constraints.txt for version
scikit-learn>=0.20
